*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    text-align: justify;
}

body{
    margin: 0 auto;
    width: 1100px;
    padding: 50px;
    background-color: rgb(190, 190, 189);

}
header{
    background-color: rgb(161, 167, 161);
    text-align: center;
    padding: 30px;
    font-family: sans-serif;
}

.titulo {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.descripcion {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.descripcion-texto {
    max-width: 40%;
    flex: 1;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.servicio-link {
    text-decoration: none;
    color: #333;
    margin: 0 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}
.servicio-link:hover {
    color: #555;
}
/* Estilos para la página de cada servicio */
.servicio-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    font-size: 1.5rem;
    text-align: center;
}
.titulo2 {
    font-size: 2rem;
    margin-bottom: 10px;
}


/* estilo para el menu2*/
.menu2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 60%;
}
.servicio-link {
    text-decoration: none;
    color: #333;
    margin: 0 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}
.servicio-link:hover {
    color: #555;
}
/* Estilos para la página de cada servicio */
.servicio-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    font-size: 1.5rem;
    text-align: center;
}








/*estilo de las imagenes   */
.imagen-container {
    position: relative;
    display: flex;
    justify-content: left;
    max-width: 50%;
    height: auto;
    border-radius: 10px;

}

.imagen {
    padding: 20px;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-left: 10%;
}




h1 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.contenido {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.servicio {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 6px 6px 6px 6px cadetblue;
}
.servicio:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgb(25, 165, 241);
}
.servicio img {
    width: 100%;
    height: auto;
    display: block;
}
.servicio-contenido {
    padding: 20px;
}
.servicio h2 {
    margin-top: 0;
}
.servicio p {
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: black;
}


.footer-menu {
    background-color: aliceblue;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-menu a {
    color: #060606;
    text-decoration: none;
    margin: 0 15px;
}