*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    overflow: hidden;
}
.bloque{
    width: 100vw;
    padding-top: 50px;
    flex-shrink: 0;
    height: 100vh;
    background: rgb(217, 217, 228);
}
header{
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    background-image: linear-gradient( to right, #0b3b65, rgb(255, 255, 255), #0b3b65);
    text-align: center;
}
header a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    border: none;

}
header span{
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 40px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    padding: 3px;
}
.icono-menu img{
    width: 40px;
    height: 40px;
    
}
#intro{
    background-image: url(../img/pexels-pixabay-261105.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro .contenido h1{
    font-size: 4rem;
    text-align: center;
    color: azure;
    text-shadow: 3px 3px 10px gray;
    position: relative;
    animation: 3s aparecer forwards;
    padding-bottom: 80px;
}
@keyframes aparecer{
    0%{
        opacity: 0;
        top: 50px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}
#intro .formulario {
    background-color: #adc2f0;
    width: 90%;
    max-width: 350px; 
    padding: 20px;
    margin: 20px auto; 
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    margin-top: -30px;
}
.formulario h2 {
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
 .formulario .info {
    margin-bottom: 20px;
}

.info label {
    display: block;
    color: #ffffff;
    font-weight: bold;
}
.info input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #4d4343;
    padding: 5px;
    outline: none;
    background: transparent;
}
.formulario .btn_enviar {
    background-color: #c024ce;
    display: block;
    border: none;
    color: #e2dddd;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 35%;
}
#servicios {
    background: linear-gradient(transparent, black), url(/Hotel/img/ser.png.jpg);
    background-size: cover;
}
#servicios h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0b3b65;
    
} 
#servicios .contenido {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    

}
.contenido a {
    text-decoration: none; 
    color: #ffffff;
}

#servicios .servicio1 {
    background-image: url(/Hotel/img/pexels-pixabay-261105.jpg);
}
#servicios .servicio2 {
    background-image: url(/Hotel/img/restaurante.jpg);
}
#servicios  .servicio3 {
    background-image: url(/Hotel/img/bar.jpg);
}
#servicios .servicio4 {
    background-image: url(/Hotel/img/spa.jpg);
}
#servicios  .servicio5 {
    background-image: url(/Hotel/img/room.png.jpg);
}
#servicios .item {
    width: 25%; 
    height: 400px;
    background-size: cover;
    background-position: center center;
    margin: 0 10px;
    transition: .7s;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
#servicios .item:hover {
   width: 90%;
}
#servicios  .overlay {
   position: absolute;
   background: linear-gradient(to bottom, transparent 80%, black);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   
}
#servicios .item .titulo {
   position: absolute;
   bottom: -10px;
   letter-spacing: 2px;
   left: 50%;
   transform: translateX(-50%);
   color: #e7e7dd;
   font-style: 20px;
   background-color: black;
   padding: 10px 0;
   width: 100%;
   opacity: 0;
   transition: .3s;

}
#servicios .item:hover .titulo {
   bottom: -20px;
   opacity: 1;
   
}

#contactenos .formulario {
    background-color: #adc2f0;
    width: 90%;
    max-width: 350px; 
    padding: 20px;
    margin: 20px auto; 
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    margin-top: -30px;
}
#contactenos .info input,
#contactenos .info textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #4d4343;
    padding: 5px;
    outline: none;
    height: 30px;
}

#registro .formulario {
    background-color: #adc2f0;
    width: 90%;
    max-width: 400px;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}


/*contenedor de iconos  */
.datos {
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
}
  

.item1 h2,h3{
    display: flex; 
    align-items: center; 
    margin-right: 20px;
    font-size: 10px; 
}
  

.icono {
    font-size: 30px; 
    color: #d35c5c;
    margin-right: 15px; 
}
  

.input-field:invalid {
    border-color: rgb(245, 5, 5);
}


.input-field:valid {
    border-color: rgb(255, 255, 255);
}

#contactenos-form .input-field:invalid {
    border-color: rgb(245, 5, 5);
}


#contactenos-form .input-field:valid {
    border-color: rgb(255, 255, 255);
}


